<!doctype html>
<html>
<head>
    <title>Node Authentication</title>

    <script type="text/javascript" src="Client/js/libraries/phaser.js"></script>
	<script type="text/javascript" src="Client/js/Utils.js"></script>
	<script type="text/javascript" src="Client/js/Player.js"></script>
    <script type="text/javascript" src="Client/js/Enemy.js"></script>
	<script type="text/javascript" src="Client/js/Bomb.js"></script>
    <script type="text/javascript" src="Client/js/Door.js"></script>
	<script type="text/javascript" src="Client/js/Explosion.js"></script>
	<script type="text/javascript" src="Client/js/states/Boot.js"></script>
	<script type="text/javascript" src="Client/js/states/Preload.js"></script>
	<script type="text/javascript" src="Client/js/states/IntroMenu.js"></script>
    <script type="text/javascript" src="Client/js/states/MultiplayerMenu.js"></script>
    <script type="text/javascript" src="Client/js/states/SinglePlayerGame.js"></script>
    <script type="text/javascript" src="Client/js/states/Lobby.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>

</head>
<body>
<div>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.username) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>username</strong>: <%= user.username %><br>
                        <strong>password</strong>: <%= user.password %>
                    </p>
                <% } else { %>
                    USERNAME NOT FOUND, THIS SHOULD NOT BE HAPPENING
                <% } %>

            </div>
        </div>
	</div>
    <div id="game_div"></div>
    <script src="Client/js/main.js"></script>
    <script src="Client/js/socket_logic.js"></script>
</div>
</body>
</html>
